body {
  background: url('http://eskipaper.com/images/geometric-wallpaper-4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 250%;
}

.box {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 0.7;
  z-index: 1;
  max-width: 400px;
  float:center;
}

.display {
  margin: 20px;
  text-align: center;
  font-family: 'Quicksand';
}

#top {
  height: 140px;
}

#icon {
  float: left;
  margin-top: 5px;
}

#tempContainer {
  float: right;
  height: 100px;
  margin: 30px 0px 0px 20px;
  font-size: 70px;
  font-family: 'Quicksand';
}

#pressure, #wind, #humidity{
  float:center;
}

#middle{
  width:100%;
}